@model RaceTrack.Models.Vehicles
@*@model RaceTrack.ViewModels.AddVehicleViewModel*@
@{
    ViewBag.Title = "Add Vehicle";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<div style="font-family:Arial">
    @*<h2>Add Vehicle</h2>*@

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Vehicle</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="editor-field">
                @Html.DropDownList("Type", new List<SelectListItem>
           {
               new SelectListItem {Text="Car", Value="Car"},
               new SelectListItem {Text="Truck", Value="Truck"}
           }, "Select Vehicle Type")
                @Html.ValidationMessageFor(model => model.Type)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Lift)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Lift)
                @Html.ValidationMessageFor(model => model.Lift)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.TireWear)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TireWear)
                @Html.ValidationMessageFor(model => model.TireWear)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.HasTowStrap)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HasTowStrap)
                @Html.ValidationMessageFor(model => model.HasTowStrap)
            </div>

            <p>
                <input type="submit" value="Add" />
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "List")
    </div>

</div>
